html{
    font-size: 62.5%;
  }

  @mixin font_paragraph (){
    font-size: 2rem;
    font-weight: $thick-font-weight;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 2.8rem;
    color: $color-neutral-Grayish;
  }
